@model Wedding
<div class="row justify-content-around">
<h3> @Model.CouplesName()'s Wedding</h3>
<a href="/Dashboard">Dashboard</a>
<a href="/">Log Out</a>
</div>
<h5 class="m-3">Date: @Model.Date</h5>
<h5>Guests:</h5>