<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="~/css/Styles.css">
</head>

<body>
    <div class="links">
        <a href="/">Home</a> | </a><a href="/projects">Projects</a> | <a href="/contact">Contact</a>
    </div>

    <div class="header">
        <h1>@ViewBag.Header</h1>
    </div>

    <div class="main">
        <div class="left">

            <div class="pic">
                placeholder
            </div>
            <h3>@ViewBag.MyName</h3>
            <p>@ViewBag.Caption</p>

        </div>
        <div class="right">
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consequatur quae nam atque quos nobis sed quis
                quaerat at non quia nisi ea tempore illo accusantium id, dolore, ratione, sapiente delectus!</p>
        </div>
    </div>
</body>

</html>