@model DishModel

<h1 class="text-center">Add a Dish!</h1>


<form asp-controller="Dishes" asp-action="create" method="POST">

    <div class='row'>
        <div class='col-sm-4'>
            <span class="text-danger" asp-validation-for="Chef"></span>
            <div class='form-group'>
                <label asp-for="Chef"></label>
                <input asp-for="Chef" class="form-control" size="30" type="text" />
            </div>

        </div>
        <div class='col-sm-4'>
            <span class="text-danger" asp-validation-for="Tastiness"></span>
            <div class='form-group'>
                <label asp-for="Tastiness"></label>
                <select asp-for="Tastiness" class="form-control" type="text">
                    <option>Please Rate</option>
                    <option>1 </option>
                    <option>2 </option>
                    <option>3 </option>
                    <option>4 </option>
                    <option>5</option>
                </select>
            </div>

        </div>
        <div class='col-sm-4'>
            <span class="text-danger" asp-validation-for="Description"></span>
            <div class='form-group'>
                <label asp-for="Description"></label>
                <textarea asp-for="Description" class="form-control" cols="15" rows="5"></textarea>
            </div>
            <button type="submit" class="btn btn-outline-success">Add Dish</button>
        </div>
    </div>
    <span class="text-danger" asp-validation-for="Name"></span>
    <div class='row'>
        <div class='col-sm-4'>
            <div class='form-group'>
                <label asp-for="Name"></label>
                <input asp-for="Name" class="form-control" size="30" type="text" />
            </div>
        </div>
    </div>
    <div class='row'>
        <div class='col-sm-4'>
            <span class="text-danger" asp-validation-for="Calories"></span>
            <div class='form-group'>
                <label asp-for="Calories"></label>
                <input asp-for="Calories" class="form-control" size="30" type="text" />
            </div>
        </div>
    </div>
</form>