@model Product
<form asp-action="Create" asp-controller="Home" method="POST">
    <div class="form-group row">
        <label asp-for="ProductName" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-10">
        <input type="text" class="form-control">
    <div class="form-group row">
        <label asp-for="ProductDescription" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-10">
        <input type="text" class="form-control">
</form>