<div class="text-center row align-items-center">
    <a href="/products">
        <h1>Products</h1>
    </a> | <a href="/categories">
        <h1>Categories</h1>
    </a>
</div>
<div class="container">
    <div class="row mt-5 justify-content-around">
        <div class="col-xs-6">
            <h1>New Category</h1>
            @{
                Category newCategory = new Category();
            }
            <partial name="_CategoryForm" model="@newCategory" />
        </div>

    </div>

    <div class="col-xs-6">
        <partial name="_CategoryList" />
    </div>
</div>
